#character-creation-box{
    margin: 10px auto;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    min-height: 200px;
    min-width: 200px;
}

#submit-button-character{
    height: 27px;
    width: 150px;
    border: 1px;
    border-style: double;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

.button{
    height: 27px;
    width: 150px;
    border: 1px;
    border-style: double;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}


#height-input{
    width: 30px;
    margin-left: 5px;
}

#width-input{
    width: 30px;
    margin-left: 5px;
}

#height{
    margin-left: 10px;
}

#width{
    margin-left: 10px
}